PORT=3000
NODE_ENV=development
MONGO_URL=your_mongodb_connection_string


# SMTP Configuration
# Hostname or IP address of the SMTP server (e.g., smtp.gmail.com)
SMTP_HOST=

# Port number for the SMTP server (e.g., 465 for SSL, 587 for TLS)
SMTP_PORT=

# Email address used to authenticate with the SMTP server
SMTP_USER=

# Password or app-specific password for the SMTP user
SMTP_PASSWORD=

# Email address that will appear in the "From" field of sent emails
SMTP_FROM=


# Cloudinary Configuration
# Your Cloudinary cloud name (found in Cloudinary dashboard)
CLOUDINARY_CLOUD_NAME=

# Your Cloudinary API key (found in Cloudinary dashboard)
CLOUDINARY_API_KEY=

# Your Cloudinary API secret (found in Cloudinary dashboard)
CLOUDINARY_API_SECRET=
